etcd: "http://10.0.2.2:4001"
couchdb_auth: ""
couchdb_base: "cncflora"
base_path: ""
lang: "pt"

postgresql_host: "localhost"
postgresql_user: "cncflora"
postgresql_password: "cncflora"
postgresql_db: "cncflora"
postgresql_schema: "public"

