

header img {
    width:100px;
    margin-top: -100px;
    float: right;
}

h1 {
    font-size: 25px;
    color: transparent;
    background: url('../img/logo.png') no-repeat ;
    height: 100px;
}

h3 i {
    color: #20AE54;
}

body {
    padding-bottom: 50px;
}

[class*="span"] {
    margin-left: 10px;
}

[class^="icon-"], [class*=" icon-"] {
    margin-right:5px;
}
li.spp [class^="icon-"], li.spp [class*=" icon-"] {
    vertical-align: middle;
    margin-right:0;
}

.add-on {
    width: 100px !important;
    text-align:left !important;
}

.span12 input[type='text'] {
    width: 300px;
}

.span12 select {
    width: 315px;
}

.span12 a.file-input-wrapper {
    width: 400px
}

.span12 textarea {
    width: 410px;
    height: 80px;
}


iframe {
    border: none;
    height: 500px;
    width: 600px;
}

li {
    list-style:none;
}

li.spp a {
    color: #333;
}
li.spp a.got {
    color: #20AE54;
}

.actions  {
    margin-top: 10px;
}

.onde-panel .field .value textarea.value-input{
    display: block;
    width: 510px;
    height:100px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 10px;
}

.profile section {
    margin-left: 15px;
}
.profile section strong {
    font-weight:normal;
}

.profile section h5 {
    margin-bottom: 0;
}

.profile section p {
    margin: 0;
    margin-left: 15px;
}

.profile section p.resume {
    margin: 0;
    margin-top: 10px;
}
.profile section p.resume strong {
    font-weight:bold;
}
#map {
    height: 470px;
    width: 100%;
    overflow: hidden;
    border: 1px #ddd solid;
    border-radius: 3px;
    margin-top: 20px;
}

.hero-unit {
    padding: 5px;
    font-size: 12px;
    line-height: 13px;
    border: 1px #ddd solid;
}

.hero-unit.active {
    border: 1px black solid;
}

.leaflet-popup-content p {
    margin: 0 !important;
}

.leaflet-popup-content p.actions {
    display: none;
}
.leaflet-popup-content form {
    display: none;
}
