{{> header}}

<div class="col-md-8">
    <h3><i>{{taxon.scientificNameWithoutAuthorship}}</i> {{taxon.scientificNameAuthorship}}</h3>

    <p>
        <a href="/profile/{{profile._id}}" class='btn btn-default'>
            <span class="glyphicon glyphicon-leaf"></span>
            {{strings.see-profile}}
        </a>
        <a href="{{OCCURRENCES_URL}}/specie/{{taxon.scientificNameWithoutAuthorship}}" class='btn btn-default'>
            <span class='glyphicon glyphicon-globe'></span>
            {{strings.occurrence-map}}
        </a>
    </p>

    <form id="data" action="/profile/{{profile._id}}" method="POST">
        <fieldset>
            <div class="onde-panel"></div>
            <p class="actions"><button type='submit' class="btn btn-success">{{strings.save}}</button></p>
        </fieldset>
    </form>
</div>

<div class="col-md-4">
    <h3>{{strings.metadata}}</h3>

    {{#metadata}}
    {{> metadata}}
    {{/metadata}}

    <form action="/profile/{{profile._id}}/send/sig" method="POST" class='form'>
        <button class="btn btn-success" type='submit'>
            {{strings.send-to-sig}}
            <span class='glyphicon glyphicon-arrow-right'></span>
        </button>
    </form>
</div>

<script type="text/javascript">
    var schema = {{{schema}}};
    var data = {{{data}}};
</script>

{{> footer}}

