{{> header}}

<div class="col-md-8">
    <h3><i>{{taxon.scientificName}}</i> {{taxon.scientificNameAuthorship}}</h3>
    <p><a href="/profile/{{profile._id}}">{{strings.see-profile}}</a></p>
    <form id="data" action="/profile/{{profile._id}}" method="POST">
        <fieldset>
            <div class="onde-panel"></div>
            <p class="actions"><button type='submit' class="btn btn-success">{{strings.save}}</button></p>
        </fieldset>
    </form>
</div>

<div class="col-md-4">
    <h4>{{strings.metadata}}</h4>
    {{#metadata}}
    {{> metadata}}
    {{/metadata}}
    <form action="/profile/{{profile._id}}/send/sig" method="POST" class='form'>
        <button class="btn btn-success" type='submit'>{{strings.send-to-sig}}</button>
    </form>
</div>

<script type="text/javascript">
    var schema = {{{schema}}};
    var data = {{{data}}};
</script>

{{> footer}}

