{{> header}}

<div class="span8">
    {{#profile}}
    <h3><i>{{taxon.scientificName}}</i> {{taxon.scientificNameAuthorship}}</h3>
    {{#logged}}
    {{/logged}}
    <ul class="nav nav-tabs">
        <li class='active'><a href="#data" data-toggle="tab">{{strings.data}}</a></li>
        <li><a href="#syns" data-toggle="tab">{{strings.synonyms}}</a></li>
        <li><a href="#occ" data-toggle="tab">{{strings.occurrences}}</a></li>
    </ul>
    <div class="tab-content">
        <div id="data" class="tab-pane active">
            {{> profile-in}}
        </div>
        <div id="syns" class="tab-pane">
            <ul>
                {{#synonyms}}
                <li><i>{{scientificName}}</i> {{scientificNameAuthorship}}</li>
                {{/synonyms}}
            </ul>
        </div>
        <div id="occ" class="tab-pane">
            <iframe src="{{OCC_APP}}/map?query={{taxon.scientificName}}" frameborder="0"></iframe>
        </div>
    </div>
    {{/profile}}
</div>

<div class="span4">
    <h4>{{strings.metadata}}</h4>
    {{#profile.metadata}}
    {{> metadata}}
    {{/profile.metadata}}
    {{#logged}}
    <a href="/profile/{{profile._id}}/edit" class="btn btn-mini"><i class='icon-edit'></i> {{strings.edit}}</a>
    {{/logged}}
</div>

{{> footer}}
