{{> header}}

<div class="span8">
    {{#profile}}
    <h3>{{taxon.family}}<br /> <i>{{taxon.scientificName}}</i> {{taxon.scientificNameAuthorship}}</h3>
    {{#logged}}
    {{/logged}}
    <ul class="nav nav-tabs">
        <li class='active'><a href="#data" data-toggle="tab">{{strings.data}}</a></li>
        <li><a href="#syns" data-toggle="tab">{{strings.synonyms}}</a></li>
        <li><a href="#occ" {{#occsMissing}}class='missing'{{/occsMissing}} data-toggle="tab">{{strings.occurrences}} ({{occsDone}}/{{occsTodo}})</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="data" class="tab-pane active">
            {{> profile-in}}
        </div>
        <div id="syns" class="tab-pane">
            <ul>
                {{#synonyms}}
                <li><i>{{scientificName}}</i> {{scientificNameAuthorship}}</li>
                {{/synonyms}}
            </ul>
        </div>
        <div id="occ" class="tab-pane">
            <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.css" />
            <link rel="stylesheet" href="/resources/css/MarkerCluster.css" />
            <link rel="stylesheet" href="/resources/css/MarkerCluster.Default.css" />
            <script type="text/javascript" src="/resources/js/leaflet.js"></script>
            <script type="text/javascript" src="/resources/js/leaflet.markercluster.js"></script>
            <script type="text/javascript">
                var occurrences = [] ;
            </script>

            <div>
                <a name="map"></a>
                <div id="map"></div>
            </div>

            <div>
            <script type="text/javascript">
                var eooPolygon = '{{{eooPolygon}}}';
            </script>
                {{#logged}}
                <ul>
                    {{#occurrences}}
                        <script>
                            occurrences.push({{{json}}});
                        </script>
                        <li class='span7'>
                            <a name="occ-{{occurrenceID}}-unit"></a>
                            {{> unit}}
                        </li>
                    {{/occurrences}}
                </ul>
                {{/logged}}
                {{^logged}}
                <p>&nbsp;</p>
                <p>Ocorrências indisponíveis.</p>
                <p>&nbsp;</p>
                {{/logged}}
            </div>

        </div>
    </div>
    {{/profile}}
</div>

<div class="span4">
    <h4>{{strings.metadata}}</h4>
    {{#profile.metadata}}
    {{> metadata}}
    {{/profile.metadata}}
    {{#logged}}

        {{#role-analyst}}
		{{#status_open}}
			{{#can_edit}}
			    <a href="/profile/{{profile._id}}/edit" class="btn btn-mini"><i class='icon-edit'></i> {{strings.edit}}</a>
			{{/can_edit}}
		{{/status_open}}

		{{#status_validation}}
			{{#can_edit}}
			    <a href="/profile/{{profile._id}}/validate" class="btn btn-mini"><i class='icon-edit'></i> {{strings.comunicacao}}</a>
			{{/can_edit}}
		{{/status_validation}}
        {{/role-analyst}}

        {{#role-sig}}
        	{{#status_sig-review}}
            <a href="/profile/{{profile._id}}/sig" class="btn btn-mini"><i class='icon-edit'></i> {{strings.sig}}</a>
	        {{/status_sig-review}}
        {{/role-sig}}

        {{#role-validator}}
		{{#status_validation}}
			{{#can_validate}}
            <a href="/profile/{{profile._id}}/validate" class="btn btn-mini"><i class='icon-edit'></i> {{strings.validate}}</a>
			{{/can_validate}}
		{{/status_validation}}
        {{/role-validator}}

        {{#role-sig}}
		{{#status_sig-review}}
            <a href="/profile/{{profile._id}}/sig" class="btn btn-mini"><i class='icon-edit'></i> {{strings.sig-review}}</a>
		{{/status_sig-review}}
        {{/role-sig}}

        {{#role-analyst}}
		{{#status_review}}
			{{#can_edit}}
            <a href="/profile/{{profile._id}}/review" class="btn btn-mini"><i class='icon-edit'></i> {{strings.review}}</a>
			{{/can_edit}}
		{{/status_review}}
        {{/role-analyst}}

    {{/logged}}

    {{#role-admin}}
        <form action="/profile/{{profile._id}}/sendTo" method='POST'>
            <fieldset>
                <legend>{{strings.change-status}}</legend>
                <select name="status">
                    <option>open</option>
                    <option>sig</option>
                    <option>validation</option>
                    <option>sig-review</option>
                    <option>review</option>
                    <option>done</option>
                </select>
                <button class="btn btn-primary">{{strings.send}}</button>
            </fieldset>
        </form>
    {{/role-admin}}
</div>

{{> footer}}
