{{> header}}

<div class="col-md-8">
    {{#profile}}

    <h2>{{taxon.family}}</h2>
    <h3><i>{{taxon.scientificName}}</i> {{taxon.scientificNameAuthorship}}</h3>

    <h4>{{strings.synonyms}}</h4>

    <ul>
        {{#synonyms}}
        <li><i>{{scientificName}}</i> {{scientificNameAuthorship}}</li>
        {{/synonyms}}
        {{^synonyms}}
        <li>N/A</li>
        {{/synonyms}}
    </ul>

    {{> profile-in}}

    {{/profile}}
</div>

<div class="col-md-4">
    <h3>{{strings.metadata}}</h3>
    {{#profile.metadata}}
    {{> metadata}}
    {{/profile.metadata}}
    {{#logged}}

        {{#role-analyst}}
		{{#status_open}}
			{{#can_edit}}
			    <a href="/profile/{{profile._id}}/edit" class="btn btn-default"><span class='glyphicon glyphicon-edit'></i> {{strings.edit}}</a>
			{{/can_edit}}
		{{/status_open}}
        {{/role-analyst}}

        {{#role-analyst}}
		{{#status_validation}}
			{{#can_edit}}
			    <a href="/profile/{{profile._id}}/validate" class="btn btn-default"><i class='glyphicon glyphicon-edit'></i> {{strings.communication}}</a>
			{{/can_edit}}
		{{/status_validation}}
        {{/role-analyst}}

        {{#role-sig}}
        	{{#status_sig}}
            <a href="/profile/{{profile._id}}/sig" class="btn btn-default"><i class='glyphicon glyphicon-edit'></i> {{strings.sig}}</a>
	        {{/status_sig}}
        {{/role-sig}}

        {{#role-validator}}
		{{#status_validation}}
			{{#can_validate}}
            <a href="/profile/{{profile._id}}/validate" class="btn btn-default"><i class='glyphicon glyphicon-edit'></i> {{strings.validate}}</a>
			{{/can_validate}}
		{{/status_validation}}
        {{/role-validator}}

        {{#role-sig}}
		{{#status_review-sig}}
            <a href="/profile/{{profile._id}}/sig" class="btn btn-default"><i class='glyphicon glyphicon-edit'></i> {{strings.sig}}</a>
		{{/status_review-sig}}
        {{/role-sig}}

        {{#role-analyst}}
		{{#status_review}}
			{{#can_edit}}
            <a href="/profile/{{profile._id}}/review" class="btn btn-default"><i class='glyphicon glyphicon-edit'></i> {{strings.review}}</a>
			{{/can_edit}}
		{{/status_review}}
        {{/role-analyst}}

    {{/logged}}

    {{#role-admin}}
        <form action="/profile/{{profile._id}}/sendTo" method='POST' class='form form-inline'>
            <fieldset>
                <legend>{{strings.change-status}}</legend>
                <div class='form-group'>
                    <select name="status" class='form-control'>
                        <option>open</option>
                        <option>sig</option>
                        <option>validation</option>
                        <option>review</option>
                        <option>review-sig</option>
                        <option>done</option>
                    </select>
                    <button class="btn btn-primary">{{strings.send}}</button>
                </div>
            </fieldset>
        </form>
    {{/role-admin}}
</div>

{{> footer}}
