{{#currentTaxon}}
  <h3>{{strings.current-taxon}}</h3>
  {{#not_found}}
  <p class='taxon-changed'><strong>{{strings.not-found}}</strong></p>
  {{/not_found}}
  {{^not_found}}
  {{#changed}}
  <p class='taxon-changed'><strong>{{strings.taxonomy-different}}</strong></p>
  {{/changed}}
  {{#synonyms_changed}}
  <p class='taxon-changed'><strong>{{strings.taxonomy-synonym-different}}</strong></p>
  {{/synonyms_changed}}
  <p><strong>{{strings.acceptedNameUsage}}</strong>: {{acceptedNameUsage}}</p>
  <p><strong>{{strings.synonyms}}</strong>:
  {{^synonyms}}
  N/A
  {{/synonyms}}
    {{#synonyms}}
      {{scientificName}} ;
    {{/synonyms}}
  </p>
  {{/not_found}}
{{/currentTaxon}}
