{{> header}}

<div class="col-md-8">
    <h3><i>{{taxon.scientificName}}</i> {{taxon.scientificNameAuthorship}}</h3>
    <p><a href="/profile/{{profile._id}}">{{strings.see-profile}}</a></p>
    <form id="data" action="/profile/{{profile._id}}" method="POST">
        <fieldset>
            <div class="onde-panel"></div>
            <p class="actions"><button type='submit' class="btn btn-success">{{strings.save}}</button></p>
        </fieldset>
    </form>
</div>

<div class="col-md-4">
    <h3>Metadata</h3>

    {{#metadata}}
    {{> metadata}}
    {{/metadata}}

    <form action="/profile/{{profile._id}}/send/review-sig" method="POST">
        <fieldset>
            <button class="btn btn-success">{{strings.send-to-sig}}</button>
        </fieldset>
    </form>

    <h3>{{strings.comments}}</h3>
    {{^validations}}
    <p>N/A</p>
    {{/validations}}

    {{#validations}}
    <p>
        <strong>{{strings.creator}}</strong>: {{metadata.creator}}<br />
        <strong>{{strings.contact}}</strong>: {{metadata.contact}}<br />
        <strong>{{strings.created}}</strong>: {{metadata.created_date}}<br />
        <strong>{{strings.status}}</strong>: {{metadata.status}}<br />
        <strong>{{strings.field}}</strong>: {{field}}<br />
        <pre>{{comment}}</pre>
        {{#open}}
        <form action="/profile/{{profile._id}}/validate/{{metadata.created}}/done" method="POST" class='send-to'>
            <button class="btn btn-success">
                {{strings.mark-as-resolved}}
            </button>
        </form>
        {{/open}}
    </p>
    <hr />
    {{/validations}}
</div>

<script type="text/javascript">
    var schema = {{{schema}}};
    var data = {{{data}}};
</script>

{{> footer}}
