{{> header}}

<div class="col-md-8">
    {{#profile}}

    <h2>{{taxon.family}}</h2>
    <h3><i>{{taxon.scientificName}}</i> {{taxon.scientificNameAuthorship}}</h3>

    <h4>{{strings.synonyms}}</h4>

    <ul>
        {{#synonyms}}
        <li><i>{{scientificName}}</i> {{scientificNameAuthorship}}</li>
        {{/synonyms}}
        {{^synonyms}}
        <li>N/A</li>
        {{/synonyms}}
    </ul>

    {{> profile-in}}

    {{/profile}}
</div>

<div class="col-md-4">
    <h4>{{strings.metadata}}</h4>
    {{#profile.metadata}}
    {{> metadata}}
    {{/profile.metadata}}
    {{#profile.status_sig}}
    <form action="/profile/{{profile._id}}/send/open" method="POST" class='send-to form'>
        <button class="btn btn-success">
            <span class="glyphicon glyphicon-arrow-left"></span>
            {{strings.back-to-analysis}}
        </button>
    </form>
    <br />
    <form action="/profile/{{profile._id}}/send/validation" method="POST" class='send-to form'>
        <button class="btn btn-success">
            {{strings.send-to-validation}}
            <span class="glyphicon glyphicon-arrow-right"></span>
        </button>
    </form>
    {{/profile.status_sig}}
    {{#profile.status_review-sig}}
    <form action="/profile/{{profile._id}}/send/review" method="POST" class='send-to form'>
        <button class="btn btn-success">
            <span class="glyphicon glyphicon-arrow-left"></span>
            {{strings.back-to-analysis}}
        </button>
    </form>
    <br />
    <form action="/profile/{{profile._id}}/send/done" method="POST" class='send-to'>
        <button class="btn btn-success">
            {{strings.send-to-done}}
            <span class="glyphicon glyphicon-arrow-right"></span>
        </button>
    </form>
    {{/profile.status_review-sig}}
</div>

{{> footer}}

