{{> header}}

<div class="span8">
    {{#profile}}
    <h3>{{taxon.family}}<br /> <i>{{taxon.scientificName}}</i> {{taxon.scientificNameAuthorship}}</h3>
    {{#logged}}
    {{/logged}}
    <ul class="nav nav-tabs">
        <li class='active'><a href="#data" data-toggle="tab">{{strings.data}}</a></li>
        <li><a href="#syns" data-toggle="tab">{{strings.synonyms}}</a></li>
        <li><a href="#occ" {{#occsMissing}}class='missing'{{/occsMissing}} data-toggle="tab">{{strings.occurrences}} ({{occsDone}}/{{occsTodo}})</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="data" class="tab-pane active">
            {{> profile-in}}
        </div>
        <div id="syns" class="tab-pane">
            <ul>
                {{#synonyms}}
                <li><i>{{scientificName}}</i> {{scientificNameAuthorship}}</li>
                {{/synonyms}}
            </ul>
        </div>
        <div id="occ" class="tab-pane">
            <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.css" />
            <link rel="stylesheet" href="/resources/css/MarkerCluster.css" />
            <link rel="stylesheet" href="/resources/css/MarkerCluster.Default.css" />
            <script type="text/javascript" src="/resources/js/leaflet.js"></script>
            <script type="text/javascript" src="/resources/js/leaflet.markercluster.js"></script>
            <script type="text/javascript">
                var occurrences = [] ;
            </script>

            <div>
                <a name="map"></a>
                <div id="map"></div>
            </div>

            <div>
            <script type="text/javascript">
                var eooPolygon = '{{{eooPolygon}}}';
            </script>
                {{#logged}}
                <ul>
                    {{#occurrences}}
                        <script>
                            occurrences.push({{{json}}});
                        </script>
                        <li class='span7'>
                            {{> unit}}
                        </li>
                    {{/occurrences}}
                </ul>
                {{/logged}}
                {{^logged}}
                <p>&nbsp;</p>
                <p>Ocorrências indisponíveis.</p>
                <p>&nbsp;</p>
                {{/logged}}
            </div>

        </div>
    </div>
    {{/profile}}
</div>

<div class="span4">
    <h4>{{strings.metadata}}</h4>
    {{#profile.metadata}}
    {{> metadata}}
    {{/profile.metadata}}
    {{#status_sig}}
    <form action="/profile/{{profile._id}}/send/validation" method="POST" class='send-to'>
        <button class="btn btn-success">{{strings.send-to-validation}}</button>
    </form>
    {{/status_sig}}
    {{#status_sig-review}}
    <form action="/profile/{{profile._id}}/send/done" method="POST" class='send-to'>
        <button class="btn btn-success">{{strings.send-to-done}}</button>
    </form>
    {{/status_sig-review}}
</div>

{{> footer}}

