{{> header}}

<div class="col-md-12">
    <h3><i>{{specie.scientificNameWithoutAuthorship}}</i> {{specie.scientificNameAuthorship}}</h3>
    <p>{{strings.no-profile}}.</p>
    {{#logged}}
    {{#role-analyst}}
    <form action="/{{db}}/profile" method="POST" class='col-md-8 form' id='create-profile'>
        <input name="id" value="{{specie._id}}" type="hidden" />
        <button id='create-btn' class="btn btn-default">{{strings.create-profile}}</button>
    </form>
    {{/role-analyst}}
    {{/logged}}
</div>
<div class="col-md-12">
    <h4>{{strings.profile-in-others}}</h4>
    <ul>
      {{#others}}
      <li> <a href='/{{db.db}}/specie/{{taxon.scientificNameWithoutAuthorship}}'>{{metadata.modified_date}}</a> @ {{db.db}} </li>
      {{/others}}
      {{^others}}
      <li>N/A</li>
      {{/others}}
    </ul>
</div>

{{> footer}}

