{{> header}}

<div class="col-md-12">
    <h2>{{family}} ({{stats.total}})</h2>
    <ul class="nav nav-tabs">
        <li class='active'>
            <a href="#empty" data-toggle="tab">
                {{strings.not-started}}
                ({{stats.empty}})
            </a>
        </li>
        <li>
            <a href="#open" data-toggle="tab">
                {{strings.analisys}}
                ({{stats.open}})
            </a>
        </li>
        <li>
            <a href="#sig" data-toggle="tab">
                {{strings.sig}}
                ({{stats.sig}})
            </a>
        </li>
        <li>
            <a href="#validation" data-toggle="tab">
                {{strings.validation}}
                ({{stats.validation}})
            </a>
        </li>
        <li>
            <a href="#review" data-toggle="tab">
                {{strings.revision}}
                ({{stats.review}})
            </a>
        </li>
        <li>
            <a href="#review-sig" data-toggle="tab">
                {{strings.sig-revision}}
                ({{stats.review-sig}})
            </a>
        </li>
        <li>
            <a href="#done" data-toggle="tab">
                {{strings.done}}
                ({{stats.done}})
            </a>
        </li>
    </ul>
    <div class="tab-content">
        {{#data}}
        <div id="{{status}}" class='tab-pane'>
            {{^species}}
            <p>{{strings.empty}}</p>
            {{/species}}
            <ul>
            {{#species}}
                <li>
                    <a href="/{{db}}/specie/{{taxon.scientificNameWithoutAuthorship}}"><i>{{taxon.scientificNameWithoutAuthorship}}</i></a>
                </li>
            {{/species}}
            </ul>
        </div>
        {{/data}}
    </div>
</div>

{{> footer}}
