{{> header}}

<div class="col-md-12">
    <h2>{{family}}</h2>
    <ul class="nav nav-tabs">
        <li class='active'><a href="#empty" data-toggle="tab">{{strings.not-started}}</a></li>
        <li><a href="#open" data-toggle="tab">{{strings.analisys}}</a></li>
        <li><a href="#sig" data-toggle="tab">{{strings.sig}}</a></li>
        <li><a href="#validation" data-toggle="tab">{{strings.validation}}</a></li>
        <li><a href="#review" data-toggle="tab">{{strings.revision}}</a></li>
        <li><a href="#sig-revision" data-toggle="tab">{{strings.sig-revision}}</a></li>
        <li><a href="#done" data-toggle="tab">{{strings.done}}</a></li>
    </ul>
    <div class="tab-content">
        {{#data}}
        <div id="{{status}}" class='tab-pane'>
            {{^species}}
            <p>{{strings.empty}}</p>
            {{/species}}
            <ul>
            {{#species}}
                <li>
                    <a href="/specie/{{taxon.scientificName}}"><i>{{taxon.scientificName}}</i></a>
                </li>
            {{/species}}
            </ul>
        </div>
        {{/data}}
    </div>
</div>

{{> footer}}
